html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';

}

.main-color {
    color: rgb(10, 82, 53);
}



.border {
    border-radius: 5px;
}

.title {
    font-size: 70px;
}

.logo {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img {
    height: 15%;
    width: 15%;
}

.login {
    background-color: #0A5436;
    position: absolute;
    text-decoration: none;
    top: 35px;
    right: 85px;

    height: fit-content;
    width: fit-content;

    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 0.3s;
}
.volta {
    background-color: rgb(78, 80, 77);
    position: absolute;
    text-decoration: none;
    top: 35px;
    right: 85px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;

    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; 
}

.input-local {
    text-align: center;
    border-radius: 15px;
    width: 101%;
    background-color: #FAF2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.login {
    background-color: rgb(10, 84, 54);
    color: white;
    font-weight: bolder;
}

.login a{
    text-decoration: none;
}

.login-button:hover {
    background-color:  rgb(240, 91, 37);
    transition: background-color 0.3s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.navbar a {
    color: rgb(114, 114, 114);
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 14px 20px;
    margin: 0 15px;
    padding-bottom: 0px;
}

.navbar a:hover {
    color: rgb(240, 91, 37);
}

.tsize:hover {
    font-size: 33px;
    transition: all 0.3s ease-in-out;
}

/*CSS KAUANY*/
.divPai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.soja {
    display: flex;
    width: auto;
    height: 360px;
    margin-left: 70px;
}


.titulo {
    height: 50px;
    padding: 50px;
    font-weight: 700;
    display: flex;
    color: #DB6901;
    line-height: 100%;
    font-size: 45px;
    font-weight: bold;
    margin-left: 150px;
    text-align: right;
    background-color: #f9f9f9;
}

.texto {
    display: flex;
    background-color: #f9f9f9;
    font-size: 30px;
    font-weight: bolder;
    color: #4E504D;
    line-height: 50px;
    justify-content: center;
    margin-left: 200px;
}

.botao {
    width: 200px;
    height: 40px;
    border: rgb(0, 0, 0, 0);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(186, 132, 52);
    color: white;
    padding: 25px;
    font-size: 25px;

    display: flex;
    flex-direction: row;
    align-items: start;
    align-items: center;
    justify-content: center;

    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 40px;
    cursor: pointer;
}


.box1 {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 950px;

}
.box2 {
    display: flex;
    align-items: end;
    justify-content: center;
}


.div_pai {
    width: 100%;
    height: auto;
    background-color: #CDD6CB;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.div_bloco {
    height: 400px;
    width: 1000px;
    background-color: #CDD6CB;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.titulo2 {
    margin-top: 80px;
    display: flex;
    color: #0A5436;
    font-size: 38px;
}

.subtitulo {
    margin-top: 0;
    color: #4E504D;
    font-size: 26px;
}

.bloco1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    height: 260px;
    width: 300px;
    border-radius: 70px 0px 0px 0px;
}

.bloco2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    height: 260px;
    width: 300px;
    border-radius: 20px;
}

.bloco3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    height: 260px;
    width: 300px;
    border-radius: 0px 70px 0px 0px;
}

.circulos {
    height: auto;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-top: 280px;
}

.circulo1 {
    height: 100px;
    width: 100px;
    background-color: #0A5436;
    border-radius: 1000px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo2 {
    height: 100px;
    width: 100px;
    background-color: #BA8434;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circulo3 {
    height: 100px;
    width: 100px;
    background-color: rgb(159, 70, 70);
    border-radius: 1000px;
    margin-left: 70px;
    background-color: #0A5436;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    color: #4E504D;
    font-size: 20px;
    margin-top: 95px;
}

h1 {
    margin-top: 70px;
    font-size: 22px;
    font-weight: 0;
    color: #4E504D;
}

.textoh3 {
    display: flex;
    color: #5E8C77;
    margin-left: 27px;
    margin-right: 5px;
}

.div_mae {
    width: 100%;
    height: 1000px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_mae {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.h1_mae {
    display: flex;
    font-size: 30px;
    color: #CDD6CB;
    position: absolute;
}

.topo {
    width: 100%;
    height: 350px;
}

.titulo3 {
    color: #0A5436;
    font-size: 36px;
    display: flex;
    justify-content: center;

}

.dados {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    flex-direction: column;
}

.nome {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    justify-content: center;
    background-color:#CDD6CB;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
}

.email {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    justify-content: center;
    background-color:#CDD6CB;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
}

.mensagem {
    display: flex;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color:#CDD6CB;
    align-items: center;
    font-size: 22px;
    border: 0;
    border-radius: 5px;
}

.enviar {
    display: flex;
    width: 110px;
    height: 60px;
    color: #FAF2FF;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5CB58C, #054945);
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.final {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 150px;
    background-color: #0A5436;
}

.container_fundo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;    
}

.graosafe {
    font-size: 40px;
    color: #FAF2FF;
    font-weight: 500;
}

.frasefinal {
    font-size: 20px;
    color: #FAF2FF;
    font-weight: normal;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#FAF2FF;
}

::-webkit-scrollbar-thumb{
    background-color: #0A5436;
    border-radius: 5px;
}