

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
}
.banner{
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url('../Imagens/soja2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    margin: 0px 300px 0px 150px;
}
.title h1{
    margin: 0;
    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.title p{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #004f2f;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.inputs_column{
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid wheat;
    background: linear-gradient(to right, #1f865d 0%, #0A5436 60%, #0a5c3b 100%);
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.75);

}
.input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: fit-content;
    padding: 30px 0px 40px 0px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.841);
    border-radius: 5px;
    
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
}
.input_container h2{
    color: #034229;
}
.input_container p{
    margin: 0;
}
.input_container button{
    font-size: 25px;
    font-weight: bolder;
    width: 75%;
    height: 60px;
    border: 0;
    border-radius: 6px;
    color: white;
    background: #1f865d;
    transition: ease-in-out 0.1s;
}
.input_container button:hover{
    font-size: 27px;
    background: #034229;
    text-shadow: 0px 0px 20px rgba(255,255,255,1);
}
.container{
    display: flex;
    flex-direction: column;
}
.campo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
}
.campo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-radius: 5px;
}
.campo input{
    width: 85%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding-left: 23px;
}
.campo input:focus{
    outline: 0;
}
.nome{
    background-image: url(../Imagens/nome.png);
    background-size: contain;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-size: 31px;
    background-position: left;
}
.telefone{
    background-image: url(../Imagens/telefone.png);
    background-size: contain;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
}
.email{
    background-image: url(../Imagens/email.png);
    background-size: contain;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
}
.senha{
    background-image: url(../Imagens/password.png);
    background-size: contain;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: left;
}
.senha_campo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    gap: 20px;
}
#mostrarSenha{
    margin-top: 12px;
}
.Registre-se{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.536);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal_campo{
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;
    padding-bottom: 25px;
    width: 450px;
    background-color: white;
    border-radius: 7px;
}
.modal_campo button{
    font-size: 25px;
    font-weight: bolder;
    width: 75%;
    height: 60px;
    border: 0;
    border-radius: 6px;
    color: white;
    background: #1f865d;
    transition: ease-in-out 0.1s;
}
.modal_campo button:hover{
    font-size: 27px;
    background: #034229;
    text-shadow: 0px 0px 20px rgba(255,255,255,1);
}
a{
    width:100%;
    height:50px;
}