body {
  overflow: hidden;
  font-family: Roboto, sans-serif;
  top:0;
  margin: 0;
  height: auto;
  width: 100%;
  }

.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: -10px 0px -10px -10px
}

.usuario img{
  height: 100px;
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom right,rgb(240, 91, 37), rgb(231, 118, 77),  rgb(230, 66, 6) );
  width: 200px;
  padding: 25px;
  margin-bottom: -10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.navbar-log a,
.sair a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar-log a:hover,
.sair a:hover {
  color: rgb(182, 56, 11);
  font-size: 22px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.grafico {
  background-color:  white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.grafico-caixa-pai{
width: 500px;
height: 600px;

margin: 30px 550px 0px 20px;
}

.grafico-caixa-2{
background-color: rgb(209, 203, 203);
padding: 10px 0px 65px 0px;
border-radius: 4px;
filter: drop-shadow(5px 7px 5px grey);
height: 160px;
width: 460px;
margin-top: -60px;
display: flex;
flex-direction: column;
align-items: center;
}

.grafico-caixa-3{
position: absolute;
background-color: rgb(209, 203, 203);
padding: 10px 0px 65px 0px;
border-radius: 4px;
filter: drop-shadow(5px 7px 5px grey);
height: 160px;
width: 460px;
z-index: 2;

transform: translateY(150%);
margin-left: -1100px;
display: flex;
flex-direction: column;
align-items: center;
}

.grafico-caixa .titulo{
text-align: center;
font-size: 22px;
font-family: 'roboto';
}

.tituloPrinc {
display: flex;
/* color:#2b2b2b; */
font-family: 'Roboto';
font-size: 30px;
color:#DB6901;
margin: 0px 0px 40px 0px;
}

.tsize{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 75px 0px 0px;
}

.tsize1{
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.tsize2{
display: flex;
margin-bottom: 55px;
}

.tsize3{
display: flex;
margin-top: 50px;
}

.tituloAlerta{
  display: flex;
  color: #2b2b2b;
  font-size: 20px;
  font-family: 'Roboto';
  justify-content: center;
  align-items: center;
}

.conteudo2{
background-color: rgb(209, 203, 203);
padding: 10px 10px 10px 20px;
border-radius: 4px;
filter: drop-shadow(5px 7px 5px grey);
height: 700px;

position: absolute;
z-index: 2;
transform: translateY(19%);
margin: 0px 0px 10px 680px;

overflow: scroll;
}
.divAlerta{
  height: fit-content;
  background-color: #dc812b;
  border-radius: 6px;
}

.tituloNot{
  display: flex;
  color: #2b2b2b;
  font-size: 20px;
  font-family: 'Roboto';
  justify-content: center;
  align-items: center; 
}

.conteudo2 h2{
  background-color: grey;
  display: flex;
  color: #2b2b2b;
  font-size: 20px;
  font-family: 'Roboto';
  justify-content: center;
  align-items: center;
}

.conteudo2 img{
height: 20px;
width: 20px;
margin-right: 10px;
display: flex;
align-items: flex-start;
}