/* Ajustes no layout para garantir que o gráfico fique centralizado e responsivo */
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: rgb(10, 82, 53);
    margin: 0;
    padding: 0;
    color: #333;
}

.navzona {
    background-color: #f4f6f8;
    color:  rgb(114, 114, 114);
    padding: 10px 40px;
    height: 190px;
}

.navzona .logo {
    display: flex;
    justify-content: center;
}

.navzona img {
    height: 15%;
    width: 15%;
}

.navzona a {
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 30px;
    padding: 14px 20px;
    margin: 0 15px;
    padding-bottom: 0px;
    cursor: pointer;
}

.login {
    background-color: #0A5436;
    position: absolute;
    text-decoration: none;
    top: 35px;
    right: 75px;

    height: fit-content;
    width: fit-content;

    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 50px;
    transition: background-color 0.3s;
    border-radius: 4px;
}
.login-button:hover {
    background-color: #DB6900;
}

.login b {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #f4f6f8;
}

.navzona .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.navzona .navbar a {
    color: rgb(114, 114, 114);
    margin: 0 10px;
    text-decoration: none;
}

.navzona .navbar a:hover {
    color: rgb(240, 91, 37);
    transition: all 0.3s ease-in-out;
    font-size: 35px;
}

.simulador-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    color: #00695c;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.sub-title {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

.input-local {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 70vh;
}

.input-style {
    margin-top: 20px;
}

.input-type {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calc-button {
    width: 100%;
    background-color: #00796b;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calc-button:hover {
    background-color: #004d40;
}

.mensagens {
    height: 60vh;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 70vh;
}

.nome-empre, #mensagem_principal {
    width: 100%;
}

#mensagem_principal {
    height: 50vh;
}

.mensagens span {
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
}

.mensagens span:hover {
    color: #00796b;
}

.info-box {
    background-color: #c2e1dd;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 40px;
} 

.info-box4 {
    background-color: #f0fdfb;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 12px;
    border-left: 6px solid #00796b;
    font-size: 17px;
}

.info-box3, .info-box2 {
    background-color: #f0fdfb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    border-left: 6px solid #00796b;
    font-size: 17px;
}

.nome-empre {
    font-size: 22px;
    font-weight: bold;
    color: #004d40;
    background-color: #e0f2f1;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#FAF2FF;
}

::-webkit-scrollbar-thumb{
    background-color: #0A5436;
    border-radius: 5px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#FAF2FF;
}

::-webkit-scrollbar-thumb{
    background-color: #0A5436;
    border-radius: 5px;
}
